<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
    <link href="/css/Login.css" rel="stylesheet" type="text/css">
</head>
<body >
    <%- include('./partials/nav.ejs') %>
    <div class="login">
        <h1>Create a Product  </h1>

    <div class="form">
        <form>
            <div class="prodName email">
                <label for="prodName">Product Name</label>
                <input required type="text" name="prodName" id="prodName">
            </div>
            <div class="prodPrice email">
                <label for="prodPrice">Product Price</label>
                <input required type="number" name="prodPrice" id="prodPrice">
            </div>
            <div class="prodSnippet email">
                <label for="prodSnippet ">Product Snippet</label>
                <input required type="text" name="prodSnippet" id="prodSnippet">
            </div>
            <div class="prodDetails email">
                <label for="prodDetails ">Product Details</label>
                <input required type="text" name="prodDetails " id="prodDetails">
            </div>
            <div class="err "></div>
            <div class="btns">
                <button>Create</button>
            </div>
        </form>
    </div>

    </div>
 


        <script>
            let form = document.querySelector('.form form');
            let prodName = document.querySelector('#prodName');
            let prodPrice = document.querySelector('#prodPrice');
            let prodDetails= document.querySelector('#prodDetails');
            let prodSnippet= document.querySelector('#prodSnippet');
            let err = document.querySelector('.err');
             let send = ({url,type,body,cType})=> new Promise(function(accept,reject) {
                let myInit;
                if(type === 'GET') {
                    myInit = {
                      method: type, 
                    headers: {
                    "Content-Type": cType? cType:"application/json",
                    },
                }

                }
                else if(type == 'POST' || type == 'PATCH' ||  type== 'DELETE') {
                     myInit = {
                       method: type, 
                    headers: {
                    "Content-Type": "application/json",
                    },
                    withCredentials: true,
                    body: JSON.stringify(body), 
                };
                }

            // const myRequest = new Request(url, myInit);
                fetch(url, myInit,)
                .then((resp) => {
                   accept(resp.json());
                })
                .catch(err=> {
                    reject(err.message);
                })
            });

            form.addEventListener('submit',async(e)=> {
                e.preventDefault(e);
                let upd= {
                   prodName: prodName.value,
                   prodDetails: prodDetails.value,
                   prodPrice: prodPrice.value,
                   prodSnippet: prodSnippet.value,
                }
                // console.log(upd);
                let result = await send({
                    url: 'http://localhost:4000/api/createProduct',
                    type: 'POST',
                    body: upd,
                });

                if(result.status) {
                    location.assign('http://localhost:4000/api/allProducts');
                }else{
                    err.textContent = result.err;
                    err.style.color='red';
                }
                // console.log(result);
            })

           
        </script>
</body>
</html>