<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/css/Login.css" rel="stylesheet" type="text/css">
</head>
<body >
    <%- include('./partials/nav.ejs') %>
    <div class="login">
        <h1>SignUp  </h1>

    <div class="form">
        <form>
            <div class="email">
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </div>
            <div class="password ">
                <label for="password">Password</label>
                <input type="text" name="password" id="password">
            </div>
            <div class="err "></div>
            <div class="btns">
                <button>Create Account</button> | <a href="http://localhost:4000/api/loginGet">Login</a>
            </div>
        </form>
    </div>

    </div>
 


        <script>
            let form = document.querySelector('.form form');
            let email = document.querySelector('#email');
            let password = document.querySelector('#password');
            let err = document.querySelector('.err');

             let send = ({url,type,body,cType})=> new Promise(function(accept,reject) {
                let myInit;
                if(type === 'GET') {
                    myInit = {
                      method: type, 
                    headers: {
                    "Content-Type": cType? cType:"application/json",
                    },
                }

                }
                else if(type == 'POST' || type == 'PATCH' ||  type== 'DELETE') {
                     myInit = {
                       method: type, 
                    headers: {
                    "Content-Type": "application/json",
                    },
                    withCredentials: true,
                    body: JSON.stringify(body), 
                };
                }

            // const myRequest = new Request(url, myInit);
                fetch(url, myInit,)
                .then((resp) => {
                   accept(resp.json());
                })
                .catch(err=> {
                    reject(err.message);
                })
            });

            form.addEventListener('submit',async(e)=> {
                e.preventDefault(e);
                // let formData = new FormData();
                // formData.append('email',email.value);
                // formData.append('password',password.value);
                let upd= {email: email.value,password:password.value}
                // console.log(upd);
                let result = await send({
                    url: 'http://localhost:4000/api/createuser',
                    type: 'POST',
                    body: upd,
                });

                if(result.status) {
                    location.assign('http://localhost:4000/api/allProducts');
                }else{
                    console.log(result.err);
                   err.textContent = result.err;
                    err.style.color='red';
                }
            })

           
        </script>
</body>
</html>